---
import { Image } from 'astro:assets';
import fondoFlores from '@assets/fondos-para-invitaciones-de-bodas-con-flroes-2.png';

import Layout from '../layouts/Layout.astro';

import Carta from '@components/Carta.astro';
---

<Layout title="Boda de Alejandro y Areli">
	<main class="w-full h-screen relative text-boda-black" >
		<Image src={fondoFlores} alt="Fondo de flores" class="w-full h-full object-cover brightness-75" />
		<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center px-4" >
			<h1 class="text-5xl md:text-7xl mb-4 font-thin " >Algo especial</h1>
			<Carta />
			<p class="text-lg md:text-xl mt-2 font-secondary-400" >Alejandro</p>
			<p class="font-secondary-400" >y</p>
			<p class="font-secondary-400" >Areli</p>
		</div>
	</main>
</Layout>


<!-- Paleta de colores:
 	<div class="w-full h-screen flex flex-col justify-center items-center gap-8 bg-slate-900" >
		<div class="bg-[#13141b] h-24 w-24 rounded-full" ></div>
		<div class="bg-[#1b2857] h-24 w-24 rounded-full" ></div>
		<div class="bg-[#570d18] h-24 w-24 rounded-full" ></div>
		<div class="bg-[#5e7456] h-24 w-24 rounded-full" ></div>
		<div class="bg-[#f9faf5] h-24 w-24 rounded-full" ></div>
	</div>
	#13141b
	#1b2857
	#570d18
	#5e7456
	#f9faf5
-->