<div class="w-full h-64 flex justify-center items-center " >
	<div class="w-44 h-2/5 bg-boda-verde-base relative" >
		<div class="w-0 h-0 
			border-l-[87px] border-l-transparent 
			border-r-[90px] border-r-transparent 
			border-t-[68px] border-t-[#44553e]">
		</div>
		<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-boda-azul-base rounded-full w-8 h-8 hover:scale-110 cursor-pointer transition-all" >
			<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-boda-blanco-base rounded-full w-7 h-7 border-[1px] border-boda-azul-base flex justify-center items-center" >
				<p class="text-[8px] text-boda-rojo-base" >A y A </p>
			</div>
		</div>
	</div>
</div>